.contentFooter {
    padding: 0.5rem 0.5rem;
    width: 80%;
    margin: auto;
    padding-bottom: 2rem;
    //background: linear-gradient(135deg, rgb(130, 154, 169) 0%, #d2d7dc 100%);
}

.fa-icon:hover{
    cursor: pointer;
    color: #774d83;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

