.info {
    flex-direction: row-reverse;

    .info-text {
        text-align: start;
        width: 60%;
    }

    .hidden {
        display: none;
    }

    .info-image {
        margin: auto;
    }

    width: 80%;
}

.card {
    display: flex;
    margin: auto;
    padding: 2rem;
    border-radius: 10px;
}

.personalimage {
    width: 300px;
    height: 300px;
    border-radius: 90%;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    object-fit: cover;
}

.experience {
    width: 75%;
    margin: 5rem auto;
}

h2 {
    text-align: center;
    margin-bottom: 2rem;
}

.dev-tech {
    width: 80%;
    margin: 5rem auto;
}

.dev-images {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .img-container:hover {
        box-shadow: 0 4px 8px rgba(18, 13, 41, 0.2);

        img {
            width: 90px;
            height: 90px;
            cursor: pointer;
        }
    }

    .img-container {
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
        align-items: center;
        justify-content: center;
        width: 150px;
        height: 140px;
        padding: 10px;
        margin: 10px;
        text-align: center;
        border-radius: 10px;

        h4 {
            padding: 3px 0;
            margin: 0;
        }

        img {
            width: 80px;
            height: 80px;
        }
    }
}

.personal-contact-element {
    display: flex;
    text-align: center;
    align-items: center;
}

.fa-icon:hover {
    cursor: pointer;
    color: #774d83;
}

.contact-info {
    width: 60%;
    margin: 2rem auto;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    
    a{
        text-decoration: none;
        color: inherit;
    }
    img {
        width: 32px;
        height: 32px;
        margin: 10px;
    }

    .social-media {
        display: flex;
        justify-content: center;
    }

    .platforms {
        display: flex;
        justify-content: center;
    }

    .download-container {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 0.5rem;

        p {
            margin: auto;
        }
    }
}

//all MQs

//
@media all and (max-width: 950px) {
    .info {
        flex-direction: column;

        .info-text {
            text-align: start;
            width: 80%;
            margin: auto;
        }

        .hidden {
            display: block;
        }

        h2 {
            display: none;
        }

        .info-image {
            margin: auto;
        }

        width: 70%;

    }
}

///////////
@media all and (max-width: 700px) {
    .info {
        flex-direction: column;

        .info-text {
            text-align: justify;
            width: auto;
        }

        .hidden {
            display: block;
        }

        h2 {
            display: none;
        }

        .info-image {
            margin: auto;
        }

        width: 75%;

    }

    .contact-info {
        display: flex;
        flex-direction: column;

        .social-media {
            display: flex;
            flex-direction: column;
            align-items: center;
            flex-wrap: wrap;
        }

        p {
            width: 100%;
            text-align: center;
            font-size: 17px;
        }
    }
}

//
@media all and (max-width: 1000px) {
    .contact-info {
        display: flex;
        flex-direction: column;

        .social-media {
            display: flex;
            flex-direction: column;
            align-items: center;
        }


        .social-media {
            display: flex;
            justify-content: center;
        }

        .platforms {
            display: flex;
            justify-content: center;
        }

        .download-container {
            display: flex;
            justify-content: center;
        }

    }
}